{% extends 'base.html' %}
{% block content %}
<h2>Your Recipes</h2>
<a href="{% url 'recipe_create' %}" class="btn btn-success mb-3">Create Recipe</a>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card mb-3">
            <a href="{% url 'recipe_detail' recipe.pk %}">
                <img src="{{ recipe.picture.url }}" class="card-img-top" alt="{{ recipe.name }}" style="height: 200px; object-fit: cover;">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.category }}</p>
                <a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'recipe_delete' recipe.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
