{% extends 'base.html' %}
{% block content %}
<h2>{{ recipe.name }}</h2>
<img src="{{ recipe.picture.url }}" class="img-fluid" alt="{{ recipe.name }}" style="max-width: 100%; height: auto;">
<p><strong>Category:</strong> {{ recipe.category }}</p>
<p><strong>Description:</strong> {{ recipe.description }}</p>
<h4>Process</h4>
<p>{{ recipe.process }}</p>
<h4>Ingredients</h4>
<p>{{ recipe.ingredients }}</p>
<a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-warning">Edit Recipe</a>
<a href="{% url 'recipe_list' %}" class="btn btn-secondary">Back to Recipe List</a>
{% endblock %}
